.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkgray;
  /* background-color: #50698d; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

/*********************dropdown*****************************/
/* Ensure dropdown menu doesn't collapse or shift unexpectedly */
.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: darkgray;
  /* background-color: #50698d; */
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: lightgray;
  /* background-color: #50698d; */
  color: #fff;
}
