.search {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.search:focus {
  border-color: #50698d;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 125px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f3eeee;
}

.card-header {
  background-color: #50698d;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
}

.card-body {
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  background-color: #f8f9fa;
}

th,
td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: center;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #9fafc5;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #50698d;
}

.custom-file-upload i {
  font-size: 1.2rem;
}

.pagination-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.pagination-container {
  margin-top: 10px;
  text-align: center;
}

.pagination-btn {
  padding: 6px 12px;
  margin: 0 3px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
}

.pagination-btn:hover {
  background-color: #50698d;
  color: white;
  border-color: #50698d;
}

.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-btn.active {
  background-color: #007bff;
  color: white;
  border-color: #50698d;
}

.pagination-ellipsis {
  padding: 6px 8px;
  color: #777;
}

.custom-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  text-align: center;
}

.Toastify__progress-bar {
  background: #ffffff !important;
}

.headerColor {
  background-color: #50698d !important;
  color: white !important;
}
.custom-input:focus {
  border-color: #ced4da !important; /* Light gray */
  box-shadow: none !important; /* Remove blue glow */
}
